.sidenav-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

mat-sidenav.sidenav {
  width: 15%;
  max-width: 25%;
  background: #f2f2f0 !important;
  padding: 2%;
}

mat-sidenav-content.content {
  width: 85%;
  max-width: 100%;
  background: #f2f2f0 !important;
  padding: 2% 3%;
  box-sizing: border-box;
  transition: width 0.3s ease;
}

mat-sidenav-content.full-width {
  width: 100% !important;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.step-btn {
  text-align: right;
  margin-top: 2%;
  margin-bottom: 3%;
}

.example-fab {
  position: fixed;
  left: 2%;
  bottom: 5%;
  z-index: 1000;
}

.radio-group {
  display: flex;
  gap: 2%;
}

.radio-button {
  margin-right: 2%;
}

.pull-right {
  float: right;
}

md-card {
  min-height: 50vh;
}