<app-header [showRoles]="true"></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <app-beneficiary-details></app-beneficiary-details>
  </mat-sidenav>

  <mat-sidenav-content
    class="content"
    [ngClass]="{ 'full-width': !sidenav.opened }"
  >
    <div class="main-content">
      <div class="row">
        <div class="col-6">
          <mat-radio-group [(ngModel)]="issueType" class="radio-group">
            <mat-radio-button
              class="radio-button"
              disableRipple
              color="primary"
              [value]="1"
            >
              {{ currentLanguageSet?.itemDispense?.systemIssue }}
            </mat-radio-button>
            <mat-radio-button
              class="radio-button"
              disableRipple
              color="primary"
              [value]="0"
            >
              {{ currentLanguageSet?.itemDispense?.manualIssue }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-6">
          <button
            mat-raised-button
            *ngIf="issueType === 1 && !prescribedList?.allocated"
            class="btn-green pull-right"
            id="allocate-batch"
            style="color: white"
            (click)="prescribedList.allocate()"
            type="button"
          >
            {{ currentLanguageSet?.inventory?.allocateBatch }}
          </button>
        </div>
      </div>

      <div class="row m-t-20" *ngIf="prescription">
        <mat-accordion>
          <app-rx-item-dispense
            #prescribedList
            [issueType]="issueType"
            [prescription]="prescription"
          ></app-rx-item-dispense>
        </mat-accordion>
      </div>

      <div class="step-btn">
        <button
          mat-raised-button
          id="submitButton"
          class="btn-green"
          (click)="submitForm(prescribedList.prescriptionForm)"
          style="color: white"
          type="button"
        >
          {{ currentLanguageSet?.common?.submit }}
        </button>
      </div>

      <div>
        <button
          mat-mini-fab
          class="example-fab"
          color="primary"
          (click)="sideNavModeChange(sidenav)"
        >
          <mat-icon>account_box</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="col-6 m-t-20">
  <button
    mat-mini-fab
    class="example-fab"
    color="primary"
    (click)="sideNavModeChange(sidenav)"
  >
    <mat-icon>account_box</mat-icon>
  </button>
</div>
<app-footer></app-footer>
