/* .input-full-width {
    width: 100%;
} */

.m-b-40 {
    margin-bottom: 200px;
}

.m-r-5 {
    margin-right: 5px;
}

.icon-remove {
    margin: 16px;
}

.width5 {
    width: 5%;
}

.width25 {
    width: 25%;
}

.width20 {
    width: 20%;
}

.vertical-align-middle {
    vertical-align: middle;
}

.input-datepicker {
    padding: 5px 8px;
}

.search-btn {
    cursor: pointer;
}

#topBtn {
    display: flex; 
    justify-content: flex-end;
    padding-top: 12px;
}
@media screen and (max-width: 768px) {
    .button-full-width {
        width: 100%;
        /* height: 50px; */
        margin-top: 3px;
    }
}

.mat_form_field_background_color_table >>> .mdc-text-field--filled, .mdc-text-field--focused {
    /* background-color: #f9f9f9 !important; */
    background-color:unset !important;
} 

 /* floating label (NO blur) */
.mat_form_field_background_color_table >>> 
.mdc-text-field--filled.mdc-text-field--focused {
    background-color: unset !important;
}
.mat_form_field_background_color_table >>> 
.mdc-floating-label {
    transform-origin: left top !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* Float ABOVE without scaling */
.mat_form_field_background_color_table >>> 
.mdc-floating-label--float-above {
    transform: translateY(-22px) !important;
    font-size: 12px !important;   
    line-height: 14px;
    opacity: 1 !important;
}

.mat_form_field_background_color_table >>> .mdc-text-field{
    padding: unset !important;
}
.mat_form_field_background_color_table >>> .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 20px !important; 
    padding-bottom:unset !important;
}
.mat_form_field_background_color_padding >>> .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 24px !important; 
}

.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
    background: inherit;
    padding-top: 15px !important;
}
.mat_form_field_background_width >>>.mat-mdc-text-field-wrapper {
    width: 55% !important;
}